[Desktop Entry]
Type=Application
Version=1.0
Name=EFI Boot Editor
Comment=Boot Editor for (U)EFI based systems
Exec=pkexec efibooteditor
Icon=preferences-system
StartupNotify=true
Terminal=false
Categories=Settings;System;Qt;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
