<?xml version="1.0" encoding="UTF-8"?>
<ui version="4.0">
 <class>FilePathDialog</class>
 <widget class="QDialog" name="FilePathDialog">
  <property name="minimumSize">
   <size>
    <width>750</width>
    <height>350</height>
   </size>
  </property>
  <property name="windowTitle">
   <string>File path editor</string>
  </property>
  <property name="modal">
   <bool>true</bool>
  </property>
  <layout class="QHBoxLayout" name="file_path_dialog_layout" stretch="1,0">
   <property name="leftMargin">
    <number>6</number>
   </property>
   <property name="topMargin">
    <number>6</number>
   </property>
   <property name="rightMargin">
    <number>6</number>
   </property>
   <property name="bottomMargin">
    <number>6</number>
   </property>
   <item>
    <widget class="QTabWidget" name="options">
     <property name="tabPosition">
      <enum>QTabWidget::TabPosition::West</enum>
     </property>
     <property name="usesScrollButtons">
      <bool>true</bool>
     </property>
     <property name="documentMode">
      <bool>true</bool>
     </property>
     {% for category in device_paths.values() %}
     <!-- {{ category.name }} -->
     {% for node in category.nodes if node.slug not in ("vendor", "instance", "entire") %}
     <widget class="QWidget" name="{{ node.slug }}_tab">
      <attribute name="icon">
       <iconset theme="{{ node.icon|default("system") }}"/>
      </attribute>
      <attribute name="title">
       <string>{{ node.name }}</string>
      </attribute>
      <attribute name="toolTip">
       <string>{{ node.description }}</string>
      </attribute>
      <attribute name="whatsThis">
       <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;{{ node.description }}&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
      </attribute>
      <layout class="QFormLayout" name="{{ node.slug }}_layout">
       <property name="fieldGrowthPolicy">
        <enum>QFormLayout::FieldGrowthPolicy::ExpandingFieldsGrow</enum>
       </property>
       <property name="labelAlignment">
        <set>Qt::AlignmentFlag::AlignRight|Qt::AlignmentFlag::AlignTrailing|Qt::AlignmentFlag::AlignVCenter</set>
       </property>
       <property name="leftMargin">
        <number>6</number>
       </property>
       <property name="topMargin">
        <number>0</number>
       </property>
       <property name="rightMargin">
        <number>0</number>
       </property>
       <property name="bottomMargin">
        <number>0</number>
       </property>
       {% for field in node.fields %}
       {% set ui_slug = node.slug + "_" + field.slug %}
       {% if field.type in ("guid", "hex", "ip4", "ip6", "mac", "string", "uri", "wstring") %}
       {% set ui_widget = "QLineEdit" %}
       {% elif field.type == "bool" %}
       {% set ui_widget = "QCheckBox" %}
       {% elif field.type == "enum" %}
       {% set ui_widget = "QComboBox" %}
       {% elif field.type == "raw_data" %}
       {% set ui_widget = "QPlainTextEdit" %}
       {% else %}
       {% set ui_widget = "QSpinBox" %}
       {% endif %}
       {% set index_offset = 0 %}
       {% if node.slug == "hd" %}
       {% set loop_index = loop.index %}
       {% else %}
       {% set loop_index = loop.index0 %}
       {% endif %}
       <item row="{{ loop_index + index_offset }}" column="0">
        <widget class="QLabel" name="{{ ui_slug }}_label">
         <property name="toolTip">
          <string>{{ field.description }}</string>
         </property>
         <property name="statusTip">
          <string>{{ field.name }}</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;{{ field.description }}&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>{{ field.name }}</string>
         </property>
        </widget>
       </item>
       {% if field.type == "raw_data" %}
       <item row="{{ loop_index + index_offset }}" column="1">
        <widget class="QComboBox" name="{{ ui_slug }}_format">
         <property name="sizePolicy">
          <sizepolicy hsizetype="Expanding" vsizetype="Fixed">
           <horstretch>0</horstretch>
           <verstretch>0</verstretch>
          </sizepolicy>
         </property>
         <property name="toolTip">
          <string>{{ field.name }} format.</string>
         </property>
         <property name="statusTip">
          <string>{{ field.name }} format</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;{{ field.name }} format.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <item>
          <property name="text">
           <string>BASE64</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>UTF-16</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>UTF-8</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>HEX</string>
          </property>
         </item>
        </widget>
       </item>
       {% set index_offset = index_offset + 1 %}
       {% endif %}
       <item row="{{ loop_index + index_offset }}" column="1">
        <widget class="{{ ui_widget }}" name="{{ ui_slug }}">
         {% if field.type in ("guid", "hex", "ip4", "ip6", "mac") %}
         <property name="font">
          <font>
           <family>Monospace</family>
          </font>
         </property>
         {% else %}
         <property name="sizePolicy">
          <sizepolicy hsizetype="Expanding" vsizetype="Fixed">
           <horstretch>0</horstretch>
           <verstretch>0</verstretch>
          </sizepolicy>
         </property>
         {% endif %}
         <property name="toolTip">
          <string>{{ field.description }}</string>
         </property>
         <property name="statusTip">
          <string>{{ field.name }}</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;{{ field.description }}&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         {% if field.type == "guid" %}
         <property name="inputMask">
          <string notr="true">&lt;HHHHHHHH-HHHH-HHHH-HHHH-HHHHHHHHHHHH;_</string>
         </property>
         {% elif field.type == "hex" %}
         <property name="inputMask">
          <string notr="true">&lt;\0\x{{ 'HH' * field.size }};_</string>
         </property>
         <property name="text">
          <string notr="true">0x</string>
         </property>
         {% elif field.type == "mac" %}
         <property name="inputMask">
          <string notr="true">&lt;HH:HH:HH:HH:HH:HH:HH:HH:HH:HH:HH:HH:HH:HH:HH:HH;_</string>
         </property>
         <property name="text">
          <string notr="true">:::::::::::::::</string>
         </property>
         {% elif field.type == "ip4" %}
         <property name="inputMask">
          <string notr="true">000.000.000.000</string>
         </property>
         <property name="text">
          <string notr="true">0.0.0.0</string>
         </property>
         {% elif field.type == "ip6" %}
         <property name="inputMask">
          <string notr="true">&lt;HHHH:HHHH:HHHH:HHHH:HHHH:HHHH:HHHH:HHHH</string>
         </property>
         <property name="text">
          <string notr="true">:::::::</string>
         </property>
         {% elif field.type == "int" %}
         <property name="minimum">
          <number>{{ field.int and field.int.minimum or 0 }}</number>
         </property>
         <property name="maximum">
          <number>{{ field.int and field.int.maximum or ([256**field.size-1, 2**31-1] | min) }}</number>
         </property>
         {% elif field.type == "string" and field.string %}
         <property name="maxLength">
          <number>{{ field.string.max_length }}</number>
         </property>
         {% endif %}
         {% for choice in field.enum %}
         <item>
          <property name="text">
           <string>{{ choice.name }}</string>
          </property>
         </item>
         {% endfor %}
        </widget>
       </item>
       {% endfor %}
      </layout>
     </widget>
     {% endfor %}{% endfor %}
     <widget class="QWidget" name="vendor_tab">
      <attribute name="icon">
       <iconset theme="document"/>
      </attribute>
      <attribute name="title">
       <string>Vendor</string>
      </attribute>
      <attribute name="toolTip">
       <string>Vendor settings</string>
      </attribute>
      <attribute name="whatsThis">
       <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Vendor settings.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
      </attribute>
      <layout class="QFormLayout" name="vendor_layout">
       <property name="fieldGrowthPolicy">
        <enum>QFormLayout::FieldGrowthPolicy::ExpandingFieldsGrow</enum>
       </property>
       <property name="labelAlignment">
        <set>Qt::AlignmentFlag::AlignRight|Qt::AlignmentFlag::AlignTrailing|Qt::AlignmentFlag::AlignVCenter</set>
       </property>
       <property name="leftMargin">
        <number>6</number>
       </property>
       <property name="topMargin">
        <number>0</number>
       </property>
       <property name="rightMargin">
        <number>0</number>
       </property>
       <property name="bottomMargin">
        <number>0</number>
       </property>
       <item row="0" column="0">
        <widget class="QLabel" name="vendor_type_label">
         <property name="toolTip">
          <string>Type</string>
         </property>
         <property name="statusTip">
          <string>Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>Type</string>
         </property>
        </widget>
       </item>
       <item row="0" column="1">
        <widget class="QComboBox" name="vendor_type">
         <property name="sizePolicy">
          <sizepolicy hsizetype="Expanding" vsizetype="Fixed">
           <horstretch>0</horstretch>
           <verstretch>0</verstretch>
          </sizepolicy>
         </property>
         <property name="toolTip">
          <string>Type</string>
         </property>
         <property name="statusTip">
          <string>Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <item>
          <property name="text">
           <string>HW</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>MSG</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>MEDIA</string>
          </property>
         </item>
        </widget>
       </item>
       <item row="1" column="0">
        <widget class="QLabel" name="vendor_guid_label">
         <property name="toolTip">
          <string>Vendor-assigned GUID that defines the data that follows.</string>
         </property>
         <property name="statusTip">
          <string>GUID</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Vendor-assigned GUID that defines the data that follows.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>GUID</string>
         </property>
        </widget>
       </item>
       <item row="1" column="1">
        <widget class="QLineEdit" name="vendor_guid">
         <property name="font">
          <font>
           <family>Monospace</family>
          </font>
         </property>
         <property name="toolTip">
          <string>Vendor-assigned GUID that defines the data that follows.</string>
         </property>
         <property name="statusTip">
          <string>GUID</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Vendor-assigned GUID that defines the data that follows.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="inputMask">
          <string notr="true">&lt;HHHHHHHH-HHHH-HHHH-HHHH-HHHHHHHHHHHH;_</string>
         </property>
         <property name="text">
          <string notr="true">----</string>
         </property>
        </widget>
       </item>
       <item row="2" column="0">
        <widget class="QLabel" name="vendor_data_label">
         <property name="toolTip">
          <string>Vendor-defined variable size data.</string>
         </property>
         <property name="statusTip">
          <string>Vendor data</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Vendor-defined variable size data.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>Data</string>
         </property>
        </widget>
       </item>
       <item row="2" column="1">
        <widget class="QComboBox" name="vendor_data_format">
         <property name="sizePolicy">
          <sizepolicy hsizetype="Expanding" vsizetype="Fixed">
           <horstretch>0</horstretch>
           <verstretch>0</verstretch>
          </sizepolicy>
         </property>
         <property name="toolTip">
          <string>Data format.</string>
         </property>
         <property name="statusTip">
          <string>Data format</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Data format.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <item>
          <property name="text">
           <string>BASE64</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>UTF-16</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>UTF-8</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>HEX</string>
          </property>
         </item>
        </widget>
       </item>
       <item row="3" column="1">
        <widget class="QPlainTextEdit" name="vendor_data">
         <property name="font">
          <font>
           <family>Monospace</family>
          </font>
         </property>
         <property name="toolTip">
          <string>Vendor-defined variable size data.</string>
         </property>
         <property name="statusTip">
          <string>Data</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Vendor-defined variable size data.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
        </widget>
       </item>
      </layout>
     </widget>
     <widget class="QWidget" name="end_tab">
      <attribute name="icon">
       <iconset theme="stop"/>
      </attribute>
      <attribute name="title">
       <string>End</string>
      </attribute>
      <attribute name="toolTip">
       <string>Depending on the Sub-Type, this Device Path node is used to indicate the end of the Device Path instance or Device Path structure.</string>
      </attribute>
      <attribute name="whatsThis">
       <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Depending on the Sub-Type, this Device Path node is used to indicate the end of the Device Path instance or Device Path structure.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
      </attribute>
      <layout class="QFormLayout" name="end_layout">
       <property name="fieldGrowthPolicy">
        <enum>QFormLayout::FieldGrowthPolicy::ExpandingFieldsGrow</enum>
       </property>
       <property name="labelAlignment">
        <set>Qt::AlignmentFlag::AlignRight|Qt::AlignmentFlag::AlignTrailing|Qt::AlignmentFlag::AlignVCenter</set>
       </property>
       <property name="leftMargin">
        <number>6</number>
       </property>
       <property name="topMargin">
        <number>0</number>
       </property>
       <property name="rightMargin">
        <number>0</number>
       </property>
       <property name="bottomMargin">
        <number>0</number>
       </property>
       <item row="0" column="0">
        <widget class="QLabel" name="end_subtype_label">
         <property name="toolTip">
          <string>Sub-Type</string>
         </property>
         <property name="statusTip">
          <string>Sub-Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Sub-Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>Sub-Type</string>
         </property>
        </widget>
       </item>
       <item row="0" column="1">
        <widget class="QComboBox" name="end_subtype">
         <property name="sizePolicy">
          <sizepolicy hsizetype="Expanding" vsizetype="Fixed">
           <horstretch>0</horstretch>
           <verstretch>0</verstretch>
          </sizepolicy>
         </property>
         <property name="toolTip">
          <string>Sub-Type</string>
         </property>
         <property name="statusTip">
          <string>Sub-Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Sub-Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <item>
          <property name="text">
           <string>End This Instance</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>End Entire</string>
          </property>
         </item>
        </widget>
       </item>
      </layout>
     </widget>
     <widget class="QWidget" name="unknown_tab">
      <attribute name="icon">
       <iconset theme="system-search"/>
      </attribute>
      <attribute name="title">
       <string>Unknown</string>
      </attribute>
      <attribute name="toolTip">
       <string>Unknown file path specifier settings</string>
      </attribute>
      <attribute name="whatsThis">
       <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Unknown file path specifier settings.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
      </attribute>
      <layout class="QFormLayout" name="unknown_layout">
       <property name="fieldGrowthPolicy">
        <enum>QFormLayout::FieldGrowthPolicy::ExpandingFieldsGrow</enum>
       </property>
       <property name="labelAlignment">
        <set>Qt::AlignmentFlag::AlignRight|Qt::AlignmentFlag::AlignTrailing|Qt::AlignmentFlag::AlignVCenter</set>
       </property>
       <property name="leftMargin">
        <number>6</number>
       </property>
       <property name="topMargin">
        <number>0</number>
       </property>
       <property name="rightMargin">
        <number>0</number>
       </property>
       <property name="bottomMargin">
        <number>0</number>
       </property>
       <item row="0" column="0">
        <widget class="QLabel" name="unknown_type_label">
         <property name="toolTip">
          <string>Unknown Type</string>
         </property>
         <property name="statusTip">
          <string>Unknown Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Unknown Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>Type</string>
         </property>
        </widget>
       </item>
       <item row="0" column="1">
        <widget class="QLineEdit" name="unknown_type">
         <property name="font">
          <font>
           <family>Monospace</family>
          </font>
         </property>
         <property name="toolTip">
          <string>Unknown Type</string>
         </property>
         <property name="statusTip">
          <string>Unknown Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Unknown Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="inputMask">
          <string notr="true">&lt;\0\xHH;_</string>
         </property>
         <property name="text">
          <string notr="true">0x</string>
         </property>
        </widget>
       </item>
       <item row="1" column="0">
        <widget class="QLabel" name="unknown_subtype_label">
         <property name="toolTip">
          <string>Unknown Sub-Type</string>
         </property>
         <property name="statusTip">
          <string>Unknown Sub-Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Unknown Sub-Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>Sub-Type</string>
         </property>
        </widget>
       </item>
       <item row="1" column="1">
        <widget class="QLineEdit" name="unknown_subtype">
         <property name="font">
          <font>
           <family>Monospace</family>
          </font>
         </property>
         <property name="toolTip">
          <string>Unknown Sub-Type</string>
         </property>
         <property name="statusTip">
          <string>Unknown Sub-Type</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Unknown Sub-Type.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="inputMask">
          <string notr="true">&lt;\0\xHH;_</string>
         </property>
         <property name="text">
          <string notr="true">0x</string>
         </property>
        </widget>
       </item>
       <item row="2" column="0">
        <widget class="QLabel" name="unknown_data_label">
         <property name="toolTip">
          <string>Unknown data</string>
         </property>
         <property name="statusTip">
          <string>Unknown data</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Unknown data.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <property name="text">
          <string>Data</string>
         </property>
        </widget>
       </item>
       <item row="2" column="1">
        <widget class="QComboBox" name="unknown_data_format">
         <property name="sizePolicy">
          <sizepolicy hsizetype="Expanding" vsizetype="Fixed">
           <horstretch>0</horstretch>
           <verstretch>0</verstretch>
          </sizepolicy>
         </property>
         <property name="toolTip">
          <string>Data format</string>
         </property>
         <property name="statusTip">
          <string>Data format</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Data format.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
         <item>
          <property name="text">
           <string>BASE64</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>UTF-16</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>UTF-8</string>
          </property>
         </item>
         <item>
          <property name="text">
           <string>HEX</string>
          </property>
         </item>
        </widget>
       </item>
       <item row="3" column="1">
        <widget class="QPlainTextEdit" name="unknown_data">
         <property name="font">
          <font>
           <family>Monospace</family>
          </font>
         </property>
         <property name="toolTip">
          <string>Data</string>
         </property>
         <property name="statusTip">
          <string>Data</string>
         </property>
         <property name="whatsThis">
          <string>&lt;html&gt;&lt;head/&gt;&lt;body&gt;&lt;p&gt;Data.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</string>
         </property>
        </widget>
       </item>
      </layout>
     </widget>
    </widget>
   </item>
   <item>
    <widget class="QDialogButtonBox" name="button_box">
     <property name="orientation">
      <enum>Qt::Orientation::Vertical</enum>
     </property>
     <property name="standardButtons">
      <set>QDialogButtonBox::StandardButton::Cancel|QDialogButtonBox::StandardButton::Ok</set>
     </property>
    </widget>
   </item>
  </layout>
 </widget>
 <resources/>
 <connections>
  <connection>
   <sender>button_box</sender>
   <signal>accepted()</signal>
   <receiver>FilePathDialog</receiver>
   <slot>accept()</slot>
   <hints>
    <hint type="sourcelabel">
     <x>248</x>
     <y>254</y>
    </hint>
    <hint type="destinationlabel">
     <x>157</x>
     <y>274</y>
    </hint>
   </hints>
  </connection>
  <connection>
   <sender>button_box</sender>
   <signal>rejected()</signal>
   <receiver>FilePathDialog</receiver>
   <slot>reject()</slot>
   <hints>
    <hint type="sourcelabel">
     <x>316</x>
     <y>260</y>
    </hint>
    <hint type="destinationlabel">
     <x>286</x>
     <y>274</y>
    </hint>
   </hints>
  </connection>
  <connection>
   <sender>hd_disk_refresh</sender>
   <signal>clicked()</signal>
   <receiver>FilePathDialog</receiver>
   <slot>resetDiskCombo()</slot>
   <hints>
    <hint type="sourcelabel">
     <x>362</x>
     <y>60</y>
    </hint>
    <hint type="destinationlabel">
     <x>239</x>
     <y>119</y>
    </hint>
   </hints>
  </connection>
  <connection>
   <sender>hd_disk</sender>
   <signal>currentIndexChanged(int)</signal>
   <receiver>FilePathDialog</receiver>
   <slot>diskChoiceChanged(int)</slot>
   <hints>
    <hint type="sourcelabel">
     <x>213</x>
     <y>60</y>
    </hint>
    <hint type="destinationlabel">
     <x>239</x>
     <y>119</y>
    </hint>
   </hints>
  </connection>
  <connection>
   <sender>hd_signature_type</sender>
   <signal>currentIndexChanged(int)</signal>
   <receiver>FilePathDialog</receiver>
   <slot>signatureTypeChoiceChanged(int)</slot>
   <hints>
    <hint type="sourcelabel">
     <x>99</x>
     <y>93</y>
    </hint>
    <hint type="destinationlabel">
     <x>249</x>
     <y>119</y>
    </hint>
   </hints>
  </connection>
  {% for category in device_paths.values() %}{% for node in category.nodes if node.slug not in ("vendor", "instance", "entire") %}{% for field in node.fields if field.type == "raw_data" %}
  <connection>
   <sender>{{ node.slug }}_{{ field.slug }}_format</sender>
   <signal>currentIndexChanged(int)</signal>
   <receiver>FilePathDialog</receiver>
   <slot>{{ node.slug.split("_")|map("capitalize")|join }}{{ field.slug.split("_")|map("capitalize")|join }}Changed(int)</slot>
  </connection>
  {% endfor %}{% endfor %}{% endfor %}
  <connection>
   <sender>vendor_data_format</sender>
   <signal>currentIndexChanged(int)</signal>
   <receiver>FilePathDialog</receiver>
   <slot>VendorDataFormatChanged(int)</slot>
   <hints>
    <hint type="sourcelabel">
     <x>226</x>
     <y>93</y>
    </hint>
    <hint type="destinationlabel">
     <x>249</x>
     <y>119</y>
    </hint>
   </hints>
  </connection>
  <connection>
   <sender>unknown_data_format</sender>
   <signal>currentIndexChanged(int)</signal>
   <receiver>FilePathDialog</receiver>
   <slot>UnknownDataFormatChanged(int)</slot>
   <hints>
    <hint type="sourcelabel">
     <x>301</x>
     <y>95</y>
    </hint>
    <hint type="destinationlabel">
     <x>299</x>
     <y>174</y>
    </hint>
   </hints>
  </connection>
 </connections>
 <slots>
  <slot>resetDiskCombo()</slot>
  <slot>diskChoiceChanged(int)</slot>
  <slot>signatureTypeChoiceChanged(int)</slot>
  {% for category in device_paths.values() %}{% for node in category.nodes if node.slug not in ("vendor", "instance", "entire") %}{% for field in node.fields if field.type == "raw_data" %}
  <slot>{{ node.slug.split("_")|map("capitalize")|join }}{{ field.slug.split("_")|map("capitalize")|join }}Changed(int)</slot>
  {% endfor %}{% endfor %}{% endfor %}
  <slot>VendorDataFormatChanged(int)</slot>
  <slot>UnknownDataFormatChanged(int)</slot>
 </slots>
</ui>

