name: Upload release asset

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      compiler:
        required: true
        type: string
      version:
        required: true
        type: string
      extension:
        required: true
        type: string

env:
  INPUT_OS: ${{ inputs.os }}
  INPUT_COMPILER: ${{ inputs.compiler }}
  INPUT_VERSION: ${{ inputs.version }}
  INPUT_EXTENSION: ${{ inputs.extension }}

jobs:
  upload-asset:
    name: Upload release asset ${{ inputs.os }} Qt ${{ matrix.qt-version }} with ${{ inputs.compiler }} ${{ inputs.extension }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        qt-version:
          - 5.15.2 # Supported in Ubuntu Noble Numbat until 2029-04-25
          - 6.2.4  # Supported in Ubuntu Jammy Jellyfish until 2027-04-01
          - 6.8.3  # Supported in Ubuntu Plucky Puffin until 2026-01-17
          - 6.10.0 # Supported until 2026-04-07
        exclude:
          - qt-version: ${{ endsWith(inputs.os, 'arm') && '5.15.2' || 'none' }}
          - qt-version: ${{ endsWith(inputs.os, 'arm') && '6.2.4' || 'none' }}
          - qt-version: ${{ inputs.os == 'macos-26' && '6.2.4' || 'none' }}
          - qt-version: ${{ inputs.os == 'macos-26' && '6.8.3' || 'none' }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}
          path: .

      - name: Rename artifact for release upload
        run: mv EFIBootEditor-*-${INPUT_OS}-qt-${{ matrix.qt-version }}${INPUT_EXTENSION} EFIBootEditor-${INPUT_VERSION}-${INPUT_OS}-qt-${{ matrix.qt-version }}-${INPUT_COMPILER}${INPUT_EXTENSION}
        shell: bash

      - name: Upload ${{ inputs.extension }}
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        with:
          prerelease: ${{ github.ref_type != 'tag' }}
          files: |
            EFIBootEditor-${{ inputs.version }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}${{ inputs.extension }}
          tag_name: ${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}
