name: Upload release asset

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      compiler:
        required: true
        type: string
      version:
        required: true
        type: string
      extension:
        required: true
        type: string

jobs:
  upload-asset:
    name: Upload release asset ${{ inputs.os }} Qt ${{ matrix.qt-version }} with ${{ inputs.compiler }} ${{ inputs.extension }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        qt-version:
          - 5.12.12 # Supported in Ubuntu Focal Fossa until 2025-04-02
          - 5.15.2 # Supported in Ubuntu Noble Numbat until 2029-04-25
          - 6.2.4 # Supported in Ubuntu Jammy Jellyfish until 2027-04-01
          - 6.8.1 # Supported until 2025-04-08
        exclude:
          - qt-version: ${{ inputs.compiler == 'MSVC32' && '6.2.4' || 'none' }}
          - qt-version: ${{ inputs.compiler == 'MSVC32' && '6.8.1' || 'none' }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}
          path: .

      - name: Rename artifact for release upload
        run: mv EFIBootEditor-*-${{ inputs.os }}-qt-${{ matrix.qt-version }}${{ inputs.extension }} EFIBootEditor-${{ inputs.version }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}${{ inputs.extension }}
        shell: bash

      - name: Upload ${{ inputs.extension }}
        uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ github.ref_type != 'tag' }}
          files: |
            EFIBootEditor-${{ inputs.version }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}${{ inputs.extension }}
          tag_name: ${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}
