name: Upload release asset

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      compiler:
        required: true
        type: string
      version:
        required: true
        type: string
      extension:
        required: true
        type: string

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

jobs:
  upload-asset:
    name: Upload release asset ${{ inputs.os }} Qt ${{ matrix.qt-version }} with ${{ inputs.compiler }} ${{ inputs.extension }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        qt-version:
          - 5.15.2 # OS LTS
          - 6.2.4 # LTS
          - 6.5.0 # latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}
          path: .

      - name: Rename artifact for release upload
        run: mv EFIBootEditor-${{ inputs.version }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}${{ inputs.extension }} EFIBootEditor-${{ inputs.version }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}${{ inputs.extension }}
        shell: bash

      - name: Upload ${{ inputs.extension }}
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ github.ref_type != 'tag' }}
          files: |
            EFIBootEditor-${{ inputs.version }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}${{ inputs.extension }}
          name: ${{ github.ref_type == 'tag' && github.ref || 'latest' }}
          tag_name: ${{ github.ref_type == 'tag' && github.ref || 'latest' }}
