name: Build test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '36 10 * * 5'

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 4

jobs:
  build-linux:
    name: ${{ matrix.os }} Qt ${{ matrix.qt_version }} with ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        qt_version:
          - 5.15.2 # OS LTS
          - 6.2.4 # LTS
          - 6.3.1 # latest
        compiler:
          - Clang
          - GCC
        include:
          - os: ubuntu-18.04
            qt_version: 5.15.2
            compiler: Clang
          - os: ubuntu-18.04
            qt_version: 5.15.2
            compiler: GCC

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: 'cpp'

      - name: Restore Qt from cache
        id: cache-qt
        uses: actions/cache@v3
        with:
          path: ~/work/efibooteditor/Qt
          key: qt-${{ matrix.os }}-${{ matrix.qt_version }}

      - name: Set up Qt environment
        uses: jurplel/install-qt-action@v2
        with:
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
          version: ${{ matrix.qt_version }}
          modules: 'qt5compat'

      - name: Install efivar
        run: sudo apt-get install libefiboot1 libefiboot-dev libefivar-dev
        shell: bash

      - name: Create build directory
        run: mkdir -p build/debug

      - name: Configure build with ${{ matrix.compiler }}
        run: |
          if [ "${{ matrix.compiler }}" = "Clang" ]; then
            export CC=clang
            export CXX=clang++
          elif [ "${{ matrix.compiler }}" = "GCC" ]; then
            export CC=gcc
            export CXX=g++
          fi;
          cmake -DCMAKE_BUILD_TYPE=Debug ..
        shell: bash
        env:
          BUILD_VERSION: 0.0.0-${{ github.sha }}
          BUILD_OS: ${{ matrix.os }}
        working-directory: build

      - name: Build
        run: |
          cmake --build . --config Debug --target package
        shell: bash
        working-directory: build

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ matrix.os }}-qt-${{ matrix.qt_version }}-${{ matrix.compiler }}
          if-no-files-found: error
          path: build/dist/EFIBootEditor-*

  build-windows:
    name: ${{ matrix.os }} Qt ${{ matrix.qt_version }} with ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]
        qt_version:
          - 5.15.2 # OS LTS
          - 6.2.4 # LTS
          - 6.3.1 # latest
        compiler:
          - Clang
          - MSVC

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: 'cpp'

      - name: Restore Qt from cache
        id: cache-qt
        uses: actions/cache@v3
        with:
          path: D:\a\efibooteditor\Qt
          key: qt-${{ matrix.os }}-${{ matrix.qt_version }}

      - name: Set up Qt environment
        uses: jurplel/install-qt-action@v2
        with:
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
          version: ${{ matrix.qt_version }}
          modules: 'qt5compat'

      - name: Create build directory
        run: mkdir -p build/debug

      - name: Configure build with ${{ matrix.compiler }}
        run: |
          if "${{ endsWith(matrix.os, '2019') }}"=="true" set VCVARSALL=%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat
          if "${{ endsWith(matrix.os, '2022') }}"=="true" set VCVARSALL=%programfiles%\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat
          call "%VCVARSALL%" x64 || exit /b
          if "${{ matrix.compiler }}"=="Clang" set COMPILER="-T ClangCL"
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_SYSTEM_VERSION=10.0.19041.0 %COMPILER% .. || exit /b
        shell: cmd
        env:
          BUILD_VERSION: 0.0.0-${{ github.sha }}
          BUILD_OS: ${{ matrix.os }}
        working-directory: build

      - name: Build
        run: |
          cmake --build . --config Debug --target package || exit /b
        shell: cmd
        working-directory: build

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

      - name: Perform MSVC Code Analysis
        uses: microsoft/msvc-code-analysis-action@v0.1.1
        id: msvc-analysis
        with:
          cmakeBuildDirectory: ${{ github.workspace }}/build
          buildConfiguration: Debug
          ruleset: NativeRecommendedRules.ruleset
        if: ${{ matrix.compiler == 'MSVC' }}

      - name: Upload MSVC Code Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.msvc-analysis.outputs.sarif }}
        if: ${{ matrix.compiler == 'MSVC' }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ matrix.os }}-qt-${{ matrix.qt_version }}-${{ matrix.compiler }}
          if-no-files-found: error
          path: build/dist/EFIBootEditor-*

  build-macos:
    name: ${{ matrix.os }} Qt ${{ matrix.qt_version }} with ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-10.15, macos-11, macos-12]
        qt_version:
          - 5.15.2 # OS LTS
          - 6.2.4 # LTS
          - 6.3.1 # latest
        compiler:
          - Clang

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: 'cpp'

      - name: Restore Qt from cache
        id: cache-qt
        uses: actions/cache@v3
        with:
          path: ~/work/efibooteditor/Qt
          key: qt-${{ matrix.os }}-${{ matrix.qt_version }}

      - name: Set up Qt environment
        uses: jurplel/install-qt-action@v2
        with:
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
          version: ${{ matrix.qt_version }}
          modules: 'qt5compat'

      - name: Create build directory
        run: mkdir -p build/debug

      - name: Configure build with Clang
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug ..
        shell: bash
        env:
          BUILD_VERSION: 0.0.0-${{ github.sha }}
          BUILD_OS: ${{ matrix.os }}
        working-directory: build

      - name: Build
        run: |
          cmake --build . --config Debug --target package
        shell: bash
        working-directory: build

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ matrix.os }}-qt-${{ matrix.qt_version }}-${{ matrix.compiler }}
          if-no-files-found: error
          path: build/dist/EFIBootEditor-*
