name: Build EFIBootEditor

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      compiler:
        required: true
        type: string
      build-config:
        required: true
        type: string
      version:
        required: true
        type: string

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 4
  INPUT_COMPILER: ${{ inputs.compiler }}

jobs:
  build:
    name: ${{ inputs.os }} Qt ${{ matrix.qt-version }} with ${{ inputs.compiler }}
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        qt-version:
          - 5.15.2 # Supported in Ubuntu Noble Numbat until 2029-04-25
          - 6.2.4  # Supported in Ubuntu Jammy Jellyfish until 2027-04-01
          - 6.8.3  # Supported in Ubuntu Plucky Puffin until 2026-01-17
          - 6.10.1 # Supported until 2026-04-07
        exclude:
          - qt-version: ${{ endsWith(inputs.os, 'arm') && '5.15.2' || 'none' }}
          - qt-version: ${{ endsWith(inputs.os, 'arm') && '6.2.4' || 'none' }}
          - qt-version: ${{ inputs.os == 'macos-26' && '6.2.4' || 'none' }}
          - qt-version: ${{ inputs.os == 'macos-26' && '6.8.3' || 'none' }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639
        with:
          key: ${{ inputs.os }}-${{ inputs.compiler }}-${{ inputs.build-config }}-${{ matrix.qt-version }}
          restore-keys: |
            ${{ inputs.os }}-${{ inputs.compiler }}-${{ inputs.build-config }}
            ${{ inputs.os }}-${{ inputs.compiler }}
            ${{ inputs.os }}

      - name: Initialize CodeQL
        uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        with:
          languages: cpp
          queries: security-and-quality
        if: inputs.build-config == 'Debug'
        continue-on-error: true

      - name: Set up Qt environment
        uses: jurplel/install-qt-action@d325aaf2a8baeeda41ad0b5d39f84a6af9bcf005
        with:
          cache: true
          version: ${{ matrix.qt-version }}

      - name: Install libfuse2
        run: sudo apt-get install libfuse2
        shell: bash
        if: startsWith(inputs.os, 'ubuntu')

      - name: Install linuxdeploy
        run: |
          DIR=$(mktemp -d)
          echo "${DIR}" >> ${GITHUB_PATH}
          ARCH=${{ endsWith(inputs.os, 'arm') && 'aarch64' || 'x86_64' }}
          wget -c -nv https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-${ARCH}.AppImage -O ${DIR}/linuxdeploy.AppImage
          wget -c -nv https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-${ARCH}.AppImage -O ${DIR}/linuxdeploy-plugin-qt.AppImage
          chmod +x ${DIR}/*.AppImage
        shell: bash
        if: startsWith(inputs.os, 'ubuntu')

      - name: Install efivar
        run: sudo apt-get install libefiboot1 libefiboot-dev libefivar-dev
        shell: bash
        if: startsWith(inputs.os, 'ubuntu')

      - name: Install libxkbcommon-x11-0 and libxcb-cursor0 and zlib1g-dev
        run: sudo apt-get install libxkbcommon-x11-0 libxcb-cursor0 zlib1g-dev
        shell: bash
        if: startsWith(inputs.os, 'ubuntu')

      - name: Install zlib
        run: vcpkg install zlib
        shell: bash
        if: startsWith(inputs.os, 'windows')

      - name: Create build directory
        run: mkdir -p build
        shell: bash

      - name: Configure with ${{ inputs.compiler }}
        run: |
          case "${INPUT_COMPILER}" in
            "Clang")
              export CC=clang
              export CXX=clang++
            ;;
            "GCC")
              export CC=gcc
              export CXX=g++
            ;;
          esac;
          cmake -DCMAKE_BUILD_TYPE=${{ inputs.build-config }} -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache ${{ startsWith(inputs.os, 'macos') && startsWith(matrix.qt-version, '5') && '-DCMAKE_OSX_ARCHITECTURES="x86_64"' || '' }} ..
        shell: bash
        env:
          BUILD_VERSION: ${{ inputs.version }}
          BUILD_OS: ${{ inputs.os }}
        working-directory: build
        if: ${{ !startsWith(inputs.os, 'windows') }}

      - name: Build
        run: cmake --build . --config ${{ inputs.build-config }}
        shell: bash
        working-directory: build
        if: ${{ !startsWith(inputs.os, 'windows') }}

      - name: Configure and build with ${{ inputs.compiler }}
        run: |
          call "%programfiles%\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" ${{ endsWith(inputs.os, 'arm') && 'arm64' || 'x64' }} || exit /b
          cmake -G Ninja -DCMAKE_TOOLCHAIN_FILE=%VCPKG_INSTALLATION_ROOT%\scripts\buildsystems\vcpkg.cmake -DCMAKE_BUILD_TYPE=${{ inputs.build-config }} -DCMAKE_VERBOSE_MAKEFILE=ON ${{ inputs.compiler == 'Clang' && '-DCMAKE_C_COMPILER=clang-cl.exe -DCMAKE_CXX_COMPILER=clang-cl.exe' || '' }} -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache .. || exit /b
          cmake --build . --config ${{ inputs.build-config }}
        shell: cmd
        env:
          BUILD_VERSION: ${{ inputs.version }}
          BUILD_OS: ${{ inputs.os }}
        working-directory: build
        if: startsWith(inputs.os, 'windows')

      - name: Run tests
        env:
          TEST_ALLOW_NO_EFI_ENTRIES: ${{ startsWith(inputs.os, 'macos') && 'true' || '' }}
        run: ctest -VV --output-on-failure --build-config ${{ inputs.build-config }}
        shell: bash
        working-directory: build

      - name: Package
        run: |
          for t in $(seq 1 20); do # FIXME: macOS has random hdiutil errors because of some protection mechanisms, just retry few times https://github.com/actions/runner-images/issues/7522#issuecomment-1556766641
            cmake --build . --config ${{ inputs.build-config }} --target package && exit 0
            rm -rf dist/
          done
          exit 255
        shell: bash
        working-directory: build

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: EFIBootEditor-${{ github.sha }}-${{ inputs.os }}-qt-${{ matrix.qt-version }}-${{ inputs.compiler }}
          if-no-files-found: error
          path: build/dist/EFIBootEditor-*

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        if: inputs.build-config == 'Debug'
        continue-on-error: true
