name: Codacy code analysis

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: 0 5 * * 5

jobs:
  codacy-analysis:
    name: Codacy Code Analysis
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Codacy Code Analysis
        uses: codacy/codacy-analysis-cli-action@562ee3e92b8e92df8b67e0a5ff8aa8e261919c08
        with:
          output: codacy.sarif
          format: sarif
          gh-code-scanning-compat: true

      - name: Upload Codacy Code Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412
        with:
          sarif_file: codacy.sarif
