name: Debug build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '36 10 * * 5'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        compiler:
          - Clang
          - GCC

    permissions:
      actions: read
      contents: read
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: Debug
      version: 0.0.0-${{ github.sha }}

  build-windows:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]
        compiler:
          - Clang
          - MSVC

    permissions:
      actions: read
      contents: read
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: Debug
      version: 0.0.0-${{ github.sha }}

  build-macos:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11, macos-12]
        compiler:
          - Clang

    permissions:
      actions: read
      contents: read
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: Debug
      version: 0.0.0-${{ github.sha }}
