name: Clang format

on: [push]

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DoozyX/clang-format-lint-action@v0.18
        with:
          source: src include
          clangFormatVersion: 16
