name: Check for Qt updates

on:
  workflow_dispatch:
  schedule:
    - cron: 0 5 * * 5

concurrency:
  group: qt-update-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-qt-updates:
    name: Check Qt updates
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          token: ${{ secrets.BOT_ACCESS_TOKEN }}

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          enable-cache: true

      - name: Install python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: uv sync
        working-directory: misc/qt-updater

      - name: Run the updater
        id: diff
        run: |
          uv run -m main ../../.github/workflows/*.yml
          if git diff --exit-code; then
            echo "changed=false" >> "${GITHUB_OUTPUT}"
          else
            echo "changed=true" >> "${GITHUB_OUTPUT}"
          fi
        working-directory: misc/qt-updater

      - name: Create pull request
        run: |
          # Configure git user
          git config user.email "EFIBootEditorBot@users.noreply.github.com"
          git config user.name "EFIBootEditor (Bot)"

          # Create branch with changes
          git checkout -b qt-update
          git commit -am "ci: update Qt versions in CI"
          git push --force --set-upstream origin qt-update

          gh pr create \
            --title 'ci: update Qt versions in CI' \
            --body 'Updates Qt versions in CI to newest ones.' \
            --base master \
            --head qt-update

        env:
          GITHUB_TOKEN: ${{ secrets.BOT_ACCESS_TOKEN }}
        if: steps.diff.outputs.changed == 'true'
