name: Prepare release assets

on:
  push:
    branches: [master]
    paths:
      - .github/workflows/build.yml
      - .github/workflows/release.yml
      - CMakeLists.txt
      - cmake/**
      - icons.qrc
      - icons/**
      - include/**
      - src/**
      - translations/**
      - windows.rc
    tags: [v*]

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm]
        compiler:
          - Clang
          - GCC

    permissions:
      actions: read
      artifact-metadata: write
      attestations: write
      contents: read
      id-token: write
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: RelWithDebInfo
      version: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

  build-windows:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025, windows-11-arm]
        compiler:
          - Clang
          - MSVC

    permissions:
      actions: read
      artifact-metadata: write
      attestations: write
      contents: read
      id-token: write
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: RelWithDebInfo
      version: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

  build-macos:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
        compiler:
          - Clang

    permissions:
      actions: read
      artifact-metadata: write
      attestations: write
      contents: read
      id-token: write
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: RelWithDebInfo
      version: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

  upload-assets:
    name: Upload release assets
    if: github.ref_type == 'tag'
    needs: [build-linux, build-windows, build-macos]
    runs-on: ubuntu-slim
    permissions:
      attestations: write
      contents: write
      id-token: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
        with:
          path: artifacts

      - name: Prepare assets for release
        id: prepare
        run: |
          mkdir -p dist

          find artifacts -type f -name "EFIBootEditor-*" | while read -r file; do
            filename=$(basename "$file")
            dir_name=$(basename "$(dirname "$file")")
            metadata=$(echo "$dir_name" | sed -E 's/EFIBootEditor-[^-]+-(.*)+$/\1/')
            ext=$(echo "$filename" | sed -E "s/EFIBootEditor-.+[0-9]//")

            new_name="EFIBootEditor-${{ github.ref_name }}-${metadata}${ext}"
            echo "Renaming $filename to $new_name"
            mv -v "$file" "dist/$new_name"
          done
        shell: bash

      - name: Attest release assets
        uses: actions/attest-build-provenance@a2bbfa25375fe432b6a289bc6b6cd05ecd0c4c32
        with:
          subject-path: dist/EFIBootEditor-*

      - name: Upload assets to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: dist/EFIBootEditor-*
          tag_name: ${{ github.ref_name }}

  winget-update:
    name: Update version in winget
    if: github.ref_type == 'tag'
    needs: upload-assets
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025]
        qt-version:
          - 6.10.2  # Supported until 2026-04-07
        compiler:
          - MSVC
    steps:
      - name: Create PR in winget-pkgs repository
        run: |
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe
          .\wingetcreate.exe update EFIBootEditor.EFIBootEditor -u https://github.com/Neverous/efibooteditor/releases/download/${{ github.ref_name }}/EFIBootEditor-${{ github.ref_name }}-${{ matrix.os }}-qt-${{ matrix.qt-version }}-${{ matrix.compiler }}.msi -v $Env:GITHUB_REF_NAME.Substring(1) -t ${{ secrets.BOT_ACCESS_TOKEN }} --submit
