name: Prepare release assets

on:
  push:
    branches: [master]
    paths:
      - .github/workflows/build.yml
      - .github/workflows/release.yml
      - CMakeLists.txt
      - cmake/**
      - icons.qrc
      - icons/**
      - include/**
      - src/**
      - translations/**
      - windows.rc
  release:
    types: [published]

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm]
        compiler:
          - Clang
          - GCC

    permissions:
      actions: read
      contents: read
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: RelWithDebInfo
      version: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

  build-windows:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025, windows-11-arm]
        compiler:
          - Clang
          - MSVC

    permissions:
      actions: read
      contents: read
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: RelWithDebInfo
      version: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

  build-macos:
    name: ${{ matrix.os }} with ${{ matrix.compiler }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
        compiler:
          - Clang

    permissions:
      actions: read
      contents: read
      security-events: write

    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      build-config: RelWithDebInfo
      version: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

  upload-linux-asset:
    name: Upload Linux release asset ${{ matrix.os }} with ${{ matrix.compiler }} ${{ matrix.extension }}
    needs: build-linux
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm]
        compiler:
          - Clang
          - GCC
        extension:
          - .tar.zst
          - .deb
          - -dbgsym.ddeb

    permissions:
      contents: write

    uses: ./.github/workflows/asset.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      version: ${{ github.ref_name }}
      extension: ${{ matrix.extension }}

  upload-windows-asset:
    name: Upload Windows release asset ${{ matrix.os }} with ${{ matrix.compiler }} ${{ matrix.extension }}
    needs: build-windows
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025, windows-11-arm]
        compiler:
          - Clang
          - MSVC
        extension:
          - .zip
          - .msi
        exclude:
          - os: windows-11-arm
            extension: .msi

    permissions:
      contents: write

    uses: ./.github/workflows/asset.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      version: ${{ github.ref_name }}
      extension: ${{ matrix.extension }}

  upload-macos-asset:
    name: Upload macOS release asset ${{ matrix.os }} with ${{ matrix.compiler }} ${{ matrix.extension }}
    needs: build-macos
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
        compiler:
          - Clang
        extension:
          - .tar.zst
          - .dmg

    permissions:
      contents: write

    uses: ./.github/workflows/asset.yml
    with:
      os: ${{ matrix.os }}
      compiler: ${{ matrix.compiler }}
      version: ${{ github.ref_name }}
      extension: ${{ matrix.extension }}

  winget-update:
    name: Update version in winget
    if: github.ref_type == 'tag'
    needs: upload-windows-asset
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025]
        qt-version:
          - 6.10.2  # Supported until 2026-04-07
        compiler:
          - MSVC
    steps:
      - name: Create PR in winget-pkgs repository
        run: |
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe
          .\wingetcreate.exe update EFIBootEditor.EFIBootEditor -u https://github.com/Neverous/efibooteditor/releases/download/${{ github.ref_name }}/EFIBootEditor-${{ github.ref_name }}-${{ matrix.os }}-qt-${{ matrix.qt-version }}-${{ matrix.compiler }}.msi -v $Env:GITHUB_REF_NAME.Substring(1) -t ${{ secrets.BOT_ACCESS_TOKEN }} --submit
